<div class="container">
  <div class="row no-gutters">
   <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center rounded px-0 my-5">
    <h2>プロフィール編集</h2>
    <%= form_with model: @user do |f| %>
      <label for="inputImage">プロフィール画像</label><br>
      <%= f.file_field :profile_image, placeholder: "Image", accept: "image/*" %><br>
      <label for="inputName">名前</label><br>
      <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前を入力"%><br>
      <label for="inputIntroduction">自己紹介文</label><br>
      <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction",placeholder:"文章を入力" %><br>
      <%= f.submit 'Update User', class: "btn btn-success" %>
    <% end %>
   </div>
  </div>
</div>