<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>

<%= @filmimage.each do |filmimage| %>
<div>
  <%= link_to filmimage_path(post_image.id) do %>
    <%= image_tag filmimage.get_image %>
  <% end %>
  <p>ユーザーアイコン：<%= image_tag filmimage.user.get_profile_image(100,100) %></p>
  <p>キャプション：<%= filmimage.caption %></p>
  <p>ユーザーネーム：<%= filmimage.user.name %></p>
</div>