<body>
 <div class='container mt-5'>
  <h3>新着投稿</h3>
   <div class='row'>
    <% @filmimages.each do |f| %>
      <div class='col-md-3'>
        <p><%= image_tag @user.get_profile_image(50,50) %>ユーザーネーム<%= f.user.name %></p>
        <%= image_tag f.get_image %>
        <p>キャプション：<%= f.caption %></p>
      </div>
    <% end %>
    <%= render 'layouts/footer' %>
   </div>
 </div>
</body>