<!DOCTYPE html>
<html>
  <head>
    <title>Filgraph</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--<meta name="viewport" content="width=device-width,initial-scale=1">-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/19e535bf81.js" crossorigin="anonymous"></script>
  </head>

  <body　class="d-flex flex-column vh-100">
   <header>
    <nav class="navbar navbar-expand-lg navbar-light">
     <div class="container">
      <a class="navbar-brand p-3" href="/"><%= image_tag('phonto.jpg') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-link text-dark">
            <%= link_to destroy_user_session_path, method: :delete do %>
             <i class="fas fa-sign-out-alt">ログアウト</i>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
     </div>
    </nav>
   </header>
    <%= yield %>
  </body>

</html>
